* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../src/assets/images/BG.png");
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
