<div class="calendar" [class.card-small]="config.size === 'small'">
  <div class="arrow left" (click)="slideLeft()">
    <img src="../../assets/images/arrow_left.png" alt="">
  </div>
  <ul *ngIf="data">
    <div class="calendar__container" *ngIf="config.size !== 'small'; else smallCards">
      <li *ngFor="let day of data.days" [style.left]="sliderPos + 'px'" class="item" (click)="goCenter($event)">
        <div class="item"
          [ngClass]="{'active': (currentDate.slice(9, 11) == day.date.slice(8, 10) && newItemValue ==  '') || newItemValue == day.date.slice(8, 10) || newItemValue == day.date.slice(9, 10),  'secondActive': 5 > 4,     'block':  currentDate.slice(9, 11) < day.date.slice(8, 10)}">
          <div class="lock"></div>
          <span class="day">{{day.date | date: ' d '}}</span>
          <span class="month">{{day.date | date: ' MMM '}}</span>
        </div>
      </li>
    </div>
  </ul>


  <ng-template #smallCards>
      <div class="calendar__container">
        <li *ngFor="let day of data.days" [style.left]="(smallSliderPos - 40)  + 'px'" class="item" (click)="goCenter($event)">
          <div class="item"
            [ngClass]="{'active': (currentDate.slice(9, 11) == day.date.slice(8, 10) && newItemValue ==  '') || newItemValue == day.date.slice(8, 10) || newItemValue == day.date.slice(9, 10),  'secondActive': 5 > 4,     'block':  currentDate.slice(9, 11) < day.date.slice(8, 10)}">
            <div class="lock"></div>
            <span class="day">{{day.date | date: ' d '}}</span>
            <span class="month">{{day.date | date: ' MMM '}}</span>
          </div>
        </li>
      </div>
  </ng-template>

  <div class="arrow right" (click)="slideRight()">
    <img src="../../assets/images/arrow_right.png" alt="">
  </div>
</div>
